*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    text-align: center;
    transform: translate(0%, 30%);
}
body h3{
    font-size: 30px;
}
body img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
#userNameError, #passwordError{
    color: red;
}
body input{
    height: 30px;
    border: none;
    border-bottom: 1px solid #808080;
}
body input:focus{
    background: #134;
}
body button{
    width: 170px;
    height: 40px;
    color: #fff;
    background: #4b7b04;
    border: 0;
    border-radius: 50px;
    box-shadow: 0px 2px 3px 2px #4b7b04;
    margin-bottom: 10px;
}
button a{
    text-decoration: none;
    color: #fff;
}
.remember-forgot li{
    margin-top: 5px;
}
.remember-forgot a{
    text-decoration: none;
    color: #4b7b04;
}